<% for(var i=0; i < results.length; i++) { %>
<div class="col-md-4">
    <div class="card mb-3 listing-card shadow" onclick=go_to_page("<%=results[i].url %>")>
        <div class="row no-gutters">
            <div class="col-md-12">

                <img src="<%=results[i].logo %>" class="card-img" alt="">

                <div class="card-body">

                    <div class="d-flex bd-highlight">
                        <div class="p-2 w-100 bd-highlight">
                            <h5 class="card-title"><%=results[i].name %></h5>
                        </div>
                    </div>

                    <div class="d-flex d-flex align-content-start flex-wrap bd-highlight mb-3">
                            <% if (results[i].district){ %>
                                <div class="p-2 bd-highlight">
                                    <i class="fas fa-city"></i>
                                    <%=results[i].district %>
                                </div>
                                <%}%>
                                <% if (results[i].total_projects){ %>
                                    <div class="p-2 bd-highlight">
                                        <i class="fas fa-building mr-2"></i>Total Projects-
                                        <%=results[i].total_projects %>
                                    </div>
                                    <%}%>

                                    <% if (results[i].project_status_count && results[i].project_status_count.ReadyToMove){ %>
                                        asdf
                                        <div class="p-2 bd-highlight">
                                            <i class="fas fa-building mr-2"></i>Ready to Move- 
                                            <%=results[i].project_status_count.ReadyToMove %>
                                        </div>
                                        <%}%>
                                        
                                    <% if (results[i].price && results[i].price.min){ %>
                                        <div class="p-2 bd-highlight">
                                            <i class="fas fa-building mr-2"></i>Property starting: 
                                            (₹) <%=results[i].price.min.toLocaleString(undefined,{ minimumFractionDigits: 2 }) %>
                                        </div>
                                        <%}%>
                                
                        <!-- <% if (results[i].phone){ %>
                        <div class="p-2 bd-highlight">
                            <i class="fas fa-mobile"></i>
                            <%=results[i].phone %>
                        </div>
                        <%}%>
                        <% if (results[i].email){ %>
                        <div class="p-2 bd-highlight">
                            <i class="fas fa-envelope"></i>
                            <%=results[i].email %>
                        </div>
                        <%}%>
                                    <% if (results[i].address){ %>
                        <div class="p-2 bd-highlight">
                            <i class="fas fa-home"></i>
                            <%=results[i].address %>
                        </div>
                        <%}%> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<% } %>