<% for(var i=0; i < area.length; i++) { %>
    <li class="popup" id="li-<%=area[i].nameAsURL %>">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="<%=area[i].nameAsURL %>"  onchange="handleFilters('area','<%=area[i].area %>')"  autocomplete="off">
            <label class="custom-control-label" for="<%=area[i].nameAsURL %>"><%=area[i].area %> (<%=area[i].count %>)</label>
        </div>
    </li>
<% } %> 

