<% for(var i=0; i < results.length; i++) { %>
    <li  class="<% if(i > 10) {%> d-none<%}%>" id="li-bank-<%=results[i].nameAsURL %>">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="bank-<%=results[i].nameAsURL %>" onchange="handleFilters('bank','<%=results[i].name %>')"  autocomplete="off">
            <label class="custom-control-label" for="bank-<%=results[i].nameAsURL %>">
                <%=results[i].name %> (<%=results[i].projectCount %>)
            </label>
        </div>
    </li>
<% } %> 