<!-- <div class="">
    <h5>Local presence</h5>
    <div class="search-filter-wrp typeahead" id="location-search">
        <input type="text" class="form-control typeahead" placeholder="Search Location...">
        <button class="btn"><i class="fa fa-search"></i></button>
    </div>
    <ul id="<% if (parentId){ %><%= parentId %>-<%}%>presence-filter-container-list">
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"
                    id="<% if (parentId){ %><%= parentId %>-<%}%>presence-noida"
                    onchange="handleFilters('presence','Noida')">
                <label class="custom-control-label"
                    for="<% if (parentId){ %><%= parentId %>-<%}%>presence-noida">Noida<span
                        id="<% if (parentId){ %><%= parentId %>-<%}%>noidaCount"></span></label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"
                    id="<% if (parentId){ %><%= parentId %>-<%}%>presence-new-delhi"
                    onchange="handleFilters('presence','New Delhi')">
                <label class="custom-control-label"
                    for="<% if (parentId){ %><%= parentId %>-<%}%>presence-new-delhi">New Delhi<span
                    id="<% if (parentId){ %><%= parentId %>-<%}%>delhiCount"></span></label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"
                    id="<% if (parentId){ %><%= parentId %>-<%}%>presence-bangalore"
                    onchange="handleFilters('presence','Bangalore')">
                <label class="custom-control-label"
                    for="<% if (parentId){ %><%= parentId %>-<%}%>presence-bangalore">Bangalore<span
                    id="<% if (parentId){ %><%= parentId %>-<%}%>bangaloreCount"></span></label>
            </div>
        </li>
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input"
                    id="<% if (parentId){ %><%= parentId %>-<%}%>presence-greater-noida"
                    onchange="handleFilters('presence','Greater Noida')">
                <label class="custom-control-label"
                    for="<% if (parentId){ %><%= parentId %>-<%}%>presence-greater-noida">Greater Noida<span
                    id="<% if (parentId){ %><%= parentId %>-<%}%>grnoidaCount"></span></label>
            </div>
        </li>
    </ul>
</div> -->


<div >
    <h5>Local presence </h5>
   
    <ul id="<% if (parentId){ %><%= parentId %>-<%}%>presence-filter-container-list">
    </ul>
   
</div>